@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import 'tailwindcss';


/* Removemos fondo vichy y colores infantiles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #111111;
    line-height: 1.6;
}

:root {
    --primary: #111111;
    --accent: #666666;
    --bg-light: #f5f5f5;
}

h1, h2, h3 {
    font-weight: 600;
    color: var(--primary);
}


.nav-link {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s;
}

.nav-link.active {
  color: #000000;
  font-weight: 600;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}
